@charset "UTF-8";

/* 回答はここに書いてね */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.common-layout {
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #00bcd4;
}

.error-layout {
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ff4081;
}

.disabled-layout {
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #e5e5e5;
}

.shadow-layout {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
}

.common1,
.error1,
.disabled1,
.shadow1 {
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 3px;
}

.common2,
.error2,
.disabled2,
.shadow2 {
  font-size: 20px;
  padding: 6px 20px;
  border-radius: 5px;
}

.common3,
.error3,
.disabled3,
.shadow3 {
  font-size: 24px;
  padding: 7px 25px;
  border-radius: 7px;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
/* 回答はここに書いてね */
